<html>
  <head>
    <title>HY Bond News</title>
  </head>
  <body>
    <h2>Treasury Rate</h2>
    <h4><%=@rate%></h4>
    <h2>HY Bond News</h2>
    <h3><%=@title1%></h3> 
    <%=@article1%>
    <h3><%=@title2%></h3> 
    <%=@article2%> 
    <h3><%=@title3%></h3> 
    <%=@article3%>   
  </body>  
</html>